<section class=" bg-image"
         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Formulario de Registro</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Nombre</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example66cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Apellidos</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Correo Electrónico</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Contraseña</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="date" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Fecha de Nacimiento</label>
                </div>

                <div class="form-outline mb-4">
                  <div class="form-group">

                    <select id="form3Example4cg" name="need" class="form-control form-control-lg" required="required" data-error="Please specify your need.">
                      <option value="" selected disabled>Sin Respuesta</option>
                      <option >Hombre</option>
                      <option >Mujer</option>
                      <option >Otro</option>
                      <option >Sin comentarios</option>
                    </select>
                  <label class="form-label" for="form3Example4cg">Género </label>

                  </div>
                </div>


                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    Estoy de acuerdo con <a href="#!" class="text-body"><u>Términos de Servicio</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registro</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">¿Ya tienes cuenta? <a href="#!"
                                                                                        class="fw-bold text-body"><u>Inicia Sesión</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50" style="bottom: 0px">
  <div class="container text-center">
    <small>Copyright &copy; SYSMIC</small>
  </div>
</footer>
