<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="">Home</a></li>
      <li><a href="/publicaciones">PUBLICACIONES</a></li>
      <li><a href="/contato">CONTACTO</a></li>
      <li><a href="/playlist">PLAYLIST</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet> <!-- Este se encarga de GESTIONAR todo el enrutamiento desde la raiz principal :D -->
