@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
* {
  margin: 0;
  padding: 0;
}
.hero {
  height: 100vh;
  background: url(src/assets/images/bgsysmic.jpg) 0 0 / cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
}

