<body style="background-image: url('https://www.teahub.io/photos/full/337-3371471_website-background-wallpapers-cool-simple-background-designs.jpg') ; background-size: cover">
<div class="wrapper" style="background-color: #212529 ">
  <div class="form-left">
    <h2 class="text-uppercase">Términos y condiciones</h2>
    <p>
      Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones en su totalidad. No continúes usando el sitio web (SYSMIC) si no aceptas todos los términos y condiciones establecidos en esta página.    </p>
    <p class="text">
      Empleamos el uso de cookies. Al utilizar el sitio web de (SYSMIC), usted acepta el uso de cookies de acuerdo con la política de privacidad de (SYSMIC). La mayoría de los modernos sitios web interactivos de hoy en día usan cookies para permitirnos recuperar los detalles del usuario para cada visita.    </p>
    <div class="form-field">
      <input type="submit" class="account" value="¿Ya tienes cuenta?" style="background-color: #3786BD ; color: white">
    </div>
  </div>
  <form class="form-right">
    <h2 class="text-uppercase" style="color: white">Formulario Registro</h2>
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label style="color: white">Nombre</label>
        <input type="text" name="first_name" id="first_name" class="input-field" style="background-color: #727576 ; color: white ">
      </div>
      <div class="col-sm-6 mb-3">
        <label style="color: white ; margin-left: 10px">Apellidos</label>
        <input type="text" name="last_name" id="last_name" class="input-field" style="background-color: #727576 ; margin-left: 10px ; color: white">
      </div>
    </div>
    <div class="mb-3">
      <label style="color: white">Correo Electrónico</label>
      <input type="email" class="input-field" name="email" required style="background-color: #727576 ; color: white">
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label style="color: white">Contraseña</label>
        <input type="password" name="pwd" id="pwd" class="input-field" style="background-color: #727576 ; color: white">
      </div>
      <div class="col-sm-6 mb-3">
        <div class="form-group">

          <label class="form-label" for="form3Example4cg" style="color: white ; margin-left: 10px">Género </label>
          <select id="form3Example4cg" name="need" class="form-control form-control-lg" required="required" data-error="Please specify your need." style="background-color: #727576; margin-left: 10px  ; color: white">
            <option value="" selected disabled>Sin Respuesta</option>
            <option >Hombre</option>
            <option >Mujer</option>
            <option >Otro</option>
            <option >Sin comentarios</option>
          </select>


        </div>
      </div>
    </div>
    <div class="mb-3">
      <label style="color: white">Fecha de Nacimiento</label>
      <input type="date" id="form3Example4cg" class="form-control form-control-lg" style="background-color: #727576 ; color: white"/>
    </div>
    <div class="mb-3">
      <label class="option">De acuerdo con los<a href="#">Términos y condiciones</a>
        <input type="checkbox" checked>
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="form-field">
      <input type="submit" value="Registrarse" class="register" name="register">
    </div>
  </form>
</div>
</body>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50" style="bottom: 0px">
  <div class="container text-center">
    <small>Copyright &copy; SYSMIC</small>
  </div>
</footer>
